@model ReviewSearchViewModel

<!-- Render the list of reviews in a table -->
<table id="reviews" class="table mt-4">
    <thead>
        <tr>
        <th>Id</th>
        <th>Movie</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Created</th>       
        <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var r in Model.Review) {
        <tr>
            <td>@r.Id</td>
            <td>@r.Movie.Title</td>
            <td>@r.Title</td>
            <td>@r.Ratings.ToString()</td>
            <td>@r.CreatedOn.ToShortDateString()</td>
            @* <td>
                <i asp-condition="@t.Active" class="bi bi-check-circle-fill text-success" title="active"></i>
                <i asp-condition="@(!t.Active)" class="bi bi-x-circle-fill text-danger" title="inactive"></i>
            </td>             *@
            <td>                 
                <a asp-condition=@User.HasOneOfRoles("admin,support") asp-action="Details" asp-route-id="@r.Id" class="btn btn-link">                    
                    <i class="bi bi-lightbulb mr-2" title="review content"></i> 
                    <span>Details</span>                    
                </a>                
            </td>
        </tr>
        }
    </tbody>
</table>